<a href="https://colab.research.google.com/github/amsalugetasew/OSIRI_File_Repo/blob/main/Assignment_week_1_session_2_and_3_Getasew.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Take home assignment week 1 session 2
1. **Variables:**
   - Create three variables store a float, an integer, and a string sentence the word "Ghana" in there
   - Join or concatenate the variables to form a meaningful sentences and store it in a variable called "sentence_1"
   - Replace the word "Ghana" with any country of your choice
   - Split the sentence on the spaces and print the 5th and last words

In [17]:
var1 = 21.0
var2 = 21
var3 = "Ghana"
# print(var1, var2, var3)
sentence_1 = f"The float number is {var1} , an integer number is {var2} , and this is a string: {var3}"
# print(sentence_1)
sentence_1 = sentence_1.replace("Ghana", "Ethipia")
# sentence_1

In [19]:
sub_word = sentence_1.split()
if len(sub_word) >= 5:
    print("5th word:", sub_word[4])
    print("Last word:", sub_word[-1])

5th word: 21.0
Last word: Ethipia

# **1. Creating a list:**
1.   Create a list of 5 fruits and print it.
2.   Create a list of even numbers from 20 to 40 using a list comprehension.

In [22]:
list_of_fruites = ['Apple','Avocado','Banana', 'Mango', 'Orange']
print(list_of_fruites)
# OR
for f in list_of_fruites:
  print(f)

['Apple', 'Avocado', 'Banana', 'Mango', 'Orange']
Apple
Avocado
Banana
Mango
Orange

In [26]:
list_of_even_nums =[i for i in range(20, 40) if i % 2 == 0]
print(list_of_even_nums)
# OR
for i in list_of_even_nums:
  print(i)

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38]
20
22
24
26
28
30
32
34
36
38

2. **Accessing elements:**
    1.   Access and print the third fruit in the list.
    2.   Print the first and last elements of the list.

In [31]:
print("Third Element of Fruit is: ", list_of_fruites[2])
print(f'Firs element of Fruit is:  {list_of_fruites[0]} and last elements of the Fruit is: {list_of_fruites[-1]}')

Third Element of Fruit is:  Banana
Firs element of Fruit is:  Apple and last elements of the Fruit is: Orange

3. **Modifying elements:**
   - Change the second fruit in the list to a different fruit.
   - Add a new fruit to the end of the list.

In [35]:
list_of_fruites[1] = 'Papaya'
list_of_fruites.append('Kiwi')
print(list_of_fruites)

['Apple', 'Papaya', 'Banana', 'Mango', 'Orange', 'Kiwi']

4. **Iterating through elements:**
   - Use a `for` loop to print each fruit in the list, followed by its length.
   - Use a `while` loop to print each even number in a list in reverse order.

In [39]:
for i in list_of_fruites:
  print(i, len(i))

Apple 5
Papaya 6
Banana 6
Mango 5
Orange 6
Kiwi 4

In [41]:
i = len(list_of_even_nums) - 1
while(i>=0):
  print(list_of_even_nums[i])
  i = i - 1

38
36
34
32
30
28
26
24
22
20

5. **List operations:**
   - Sort the list of fruits alphabetically.
   - Find the index of the first occurrence of a specific fruit in the list.
   - Create a new list containing only the fruits that start with the letter "A".

In [53]:
print(sorted(list_of_fruites))

['Apple', 'Banana', 'Kiwi', 'Mango', 'Orange', 'Papaya']

In [57]:
specific_fruit = "Kiwi"

if specific_fruit in list_of_fruites:
    index = list_of_fruites.index(specific_fruit)
    print("The first occurrence of", specific_fruit, "is at index", index)
else:
    print(specific_fruit, "is not in the list of fruits.")

The first occurrence of Kiwi is at index 2

In [60]:
fruitw_A = [fruit for fruit in list_of_fruites if fruit.startswith("A")]


print("Fruits that start with 'A':", fruitw_A)

Fruits that start with 'A': ['Apple']

1. **Creating a tuple:**
   - Create a tuple containing a person's name, age, and city.
   - Create a tuple of coordinates (x, y) using tuple packing.

2. **Accessing elements:**
   - Access and print the person's age from the tuple.
   - Print the x-coordinate from the tuple of coordinates.

3. **Iterating through elements:**
   - Use a `for` loop to print each element in the tuple, including its index.

4. **Tuple immutability:**
   - Demonstrate that you cannot modify elements of a tuple directly.

In [72]:
person_info = ("Getasew", 30, "Gondar")

In [66]:
cord = ('Getasew', 29)

In [68]:
person_info[1]

30

In [69]:
print(cord[0])

Getasew

In [71]:
for i, e in enumerate(person_info):
  print(f"{i} {e}")

0 Getasew
1 30
2 Gondar

In [73]:
try:
    person_info[0] = "Awoke"
except TypeError as e:
    print("TypeError:", e)

TypeError: 'tuple' object does not support item assignment

1. **Creating a dictionary:**
   - Create a dictionary to store information about a book (title, author, year).
   - Create a dictionary to store the prices of different fruits.

2. **Accessing and adding items:**
   - Access and print the author of the book.
   - Add a new item to the dictionary with the book's ISBN number.

3. **Iterating through items:**
   - Use a `for` loop to print each key-value pair in the dictionary.
   - Print only the keys in the dictionary.
   - Print only the values in the dictionary.

4. **Dictionary operations:**
   - Check if a specific key exists in the dictionary.
   - Get a list of all keys in the dictionary.
   - Get a list of all values in the dictionary.
   - Remove an item from the dictionary by its key.

In [46]:
book_info_dic = {"title": "Python Basics","author": "Mark Lutz", "year": 2009}
price_fruit = {'Banana': 50, 'Apple': 150, 'Orange': 100}

In [49]:
print(book_info_dic['author'])
book_info_dic['ISBN number'] = '0-061-96436-0'

Mark Lutz

In [50]:
for i, j in book_info_dic.items():
    print(f"{i}: {j}")

title: Python Basics
author: Mark Lutz
year: 2009
ISBN number: 0-061-96436-0

In [51]:
for i, j in book_info_dic.items():
    print(f"{i}")

title
author
year
ISBN number

In [52]:
for i, j in book_info_dic.items():
    print(f" {j}")

 Python Basics
 Mark Lutz
 2009
 0-061-96436-0

In [55]:
key = "authors"
if key in book_info_dic:
    print(f"The key '{key}' is exists in the dictionary.")
else:
    print(f"The key '{key}' is does not exist in the dictionary.")

The key 'authors' is does not exist in the dictionary.

In [58]:
print(list(book_info_dic.keys()))

['title', 'author', 'year', 'ISBN number']

In [59]:
print(list(book_info_dic.values()))

['Python Basics', 'Mark Lutz', 2009, '0-061-96436-0']

In [62]:
key_to_remove = "ISBN number"
if key_to_remove in book_info_dic:
    removed_value = book_info_dic.pop(key_to_remove)
else:
    print(f"The key '{key_to_remove}' does not exist in the dictionary.")

# Print the updated dictionary
print("Updated dictionary:", book_info_dic)

The key 'ISBN number' does not exist in the dictionary.
Updated dictionary: {'title': 'Python Basics', 'author': 'Mark Lutz', 'year': 2009}

## Functions

1.	Write a function that prints Hello plus a name and greets with time. But name argument should have a default value “World” and time show also have a default value, “morning”. The function should be able to take values to replace name and time.
2.	Write another function to prints out even numbers from the list of values passed as an argument.

In [43]:
def hello_greeting(name = 'World', greeting = 'Afternoon'):
  print("Hello", name, greeting)
hello_greeting()
hello_greeting("Getasew Amsalu Abera", "Good morning")

Hello World Afternoon
Hello Getasew Amsalu Abera Good morning

In [44]:
def even_num_fun(even_num):
  print(even_num)
even_num_fun(list_of_even_nums)

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38]